aiohttp==3.7.3
aiokafka==0.7.0
aiopg==1.1.0
async-timeout==3.0.1
attrs==20.3.0
chardet==3.0.4
freezegun==1.1.0
idna==3.1
iniconfig==1.1.1
kafka-python==2.0.2
multidict==5.1.0
packaging==20.9
pluggy==0.13.1
psycopg2==2.8.6
psycopg2-binary==2.8.6
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
pytest-asyncio==0.14.0
pytest-httpserver==0.3.7
python-dateutil==2.8.1
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
Werkzeug==1.0.1
yarl==1.6.3